body{
	width: auto;
	height: auto;
	font-size: 14px;
	margin: 10px auto;
}
#title{
	text-align: center;
	font-size: 32px;
	padding: 0 25px 0 25px;
	margin-left: auto;
	margin-right: auto;
}
#maincontainer{
	width:100%;
	background-color: #F5F5F5;
}
#container{
	width: 100%;
	height: auto;
	margin: 0 auto 0 auto;
	background-color: #F5F5F5;
}
.main-board{
	width: 100%;

}
table{
	margin-top: 50px;
	width: 90%;
	height: auto;
}